.content{
    display: flex;
}
form{
    width: 350px;
    display: block;
}
select{
    width: 220px;
}
.result{
    margin-top: 50px;
    text-align: center;
}
.Flag img{
    width: 650px;
    height: 450px;
}
.Document{
    font-size: 25px;

}